<!DOCTYPE html>
<html lang="en-US">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome Gavin Vaske</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <title>Buy cool new product</title>
    <style>
        html,
        body {
            font-size: 16px;
            -webkit-text-size-adjust: 100%;
            height: 100%;
            font-family: system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: hsl(212, 60%, 97%);
            color: hsl(209, 18%, 30%);
            display: flex;
            text-align: center;
        }
        #modal {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            margin-top: 0;

        }

    </style>
</head>
<body class="ltr">
<div id="container">
    <div id="modal">
        <div class="main">
            <h1>Welcome Gavin Vaske</h1>
            <p>The man who moves mountains...starts by moving stones.</p>
            <form method="post" class="add-to-cart-form">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="site-module/shipping/do-something">

                <div class="form-group">
                    <label for="address">Street Address</label>
                    <input type="text" name="address" placeholder="E.g. 32 Job Street" />
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" name="city" placeholder="orange Country" />
                </div>

                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" name="state" placeholder="CA" />
                </div>

                <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" name="zipcode" placeholder="92662"/>
                </div>

                <div class="form-group">
                    <label for="package-weight">Package Weight</label>
                    <input type="text" name="package-weight" placeholder="E.g. 5" />
                </div>

                <div class="form-group">
                    <label for="package-height">Package Height</label>
                    <input type="text" name="package-height" placeholder="E.g. 10" />
                </div>

                <button type="submit" class="primary-btn bg-orange border-orange">
                    Submit Form
                </button>
            </form>

            <section>
                <div class="product">
                    <img
                            src="https://i.imgur.com/EHyR2nP.png"
                            alt="The cover of Stubborn Attachments"
                    />
                    <div class="description">
                        <h3>Label Purchase</h3>
                        <h5>$10.00</h5>
                    </div>
                </div>
                <form method="post">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="site-module/payment/create-checkout-session">
                    <button type="submit" id="checkout-button">Checkout</button>
                </form>
            </section>

        </div>
    </div>
</div>
</body>
</html>

<script>
    $('form.add-to-cart-form').on('submit', function(e) {
        e.preventDefault();
        let form_data = $('.add-to-cart-form').serializeArray();
        let csrfToken = window.csrfTokenValue

        form_data['CRAFT_CSRF_TOKEN'] = csrfToken	// Setting CSRF token in duplicate places redundently
        form_data['action'] = 'site-module/shipping/do-something'

        $.ajax({
            type: 'post',
            url: '',
            headers: {
                "X-CSRF-Token" : csrfToken,	// Setting CSRF token in duplicate places redundently
            },
            type: 'post',
            url: '',
            data: form_data,
            dataType: 'json',
            success: function(response) {
                alert(`response => ${JSON.stringify(response)}`)
            },
            error: function(error) {
                alert('Error: ' + JSON.stringify(error))
            }
        });
    });
</script>